<body class="unique">

<h2>Register</h2>

<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><h3>Name</h3>
  <%= f.text_field :name, autofocus: true, size: 30 %></div>
  <br>

  <div><h3>Email</h3>
  <%= f.email_field :email, autofocus: true %></div>
  <br>

  <div><h3>Password</h3><% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div><br />

  <div><h3>Password Confirmation</h3>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div><br />

  <div><%= f.submit "Sign up" %></div>
<% end %>

</body>
