



<div class="compare-modal">

    <div class='compare-row'>
      <div class="you-think compare-cell">
        <p>You Think You're Writing About:</p>
        <p><<%= @document.context %>/p>
        <%= icon('pencil-square-o') %>
      </div>

      <div class="comp-arrow compare-cell">

      </div>

      <div class="we-think compare-cell">
        <p>We Think You're Writing About:</p>
        <p><%= @concepts.first %></p>
        <%= icon('pencil-square-o') %>
      </div>
      <div class="hidden">.</div>
    </div>
    <hr>
    <div class='compare-clear'>
      <%= link_to 'Make a New Version?', new_document_version_path(@document) %>
    </div>
</div>




