
<div id='version-control' ><%= icon('bars') %> </div>

<aside class='control-aside hidden'>
  Document Versions:<br>

  <%= select_tag "buttholes" %>
  <% @versions.each do |version| %>
    <p>
      <%= link_to "Version ##{version.version_number}", version_path(version) %>
      <% if current_user == @document.user %>
        <%= link_to '[delete version]', version, :method => :delete %>
      <% end %>
    <p>
  <% end %>

  <%= button_tag "Analysis", :id => "analysis" %><br>
  <br><%= link_to 'Comment On This Document', version_comment_path(@current_version) %>
  <% if current_user == @document.user %>
    <br><%= render partial: 'shared/new_version' %>
  <% end %>
</aside>
