<body class="inner">

<%= form_for @document do |f| %>
  <h2>New Document</h2>

  <br>

  <h3>Title</h3>

  <%= f.text_field :title, size: 100 %>

  <br><br>

  <h3>Main Concept</h3>

  <%= f.text_area :context, class: 'textarea15' %><br>

  <br><br>

    <%= f.fields_for :versions do |v| %>
      <h3><%= v.label :content %></h3>
        <%= f.fields_for @version do |v| %>
          <%= v.text_area :content %><br>
        <% end %>
    <% end %>
    <br>

  <%= f.label :privacy, 'Check to make this message private:' %><br>
  <%= f.check_box :privacy, :checked => false %>


  <br><%= f.submit "Should I Send This?"%>
<% end %>

</body>