<h2>Version #<%= @current_version.version_number %></h2>
<br>

<br><br>

<%= render partial: 'partials/doc_control_bar' %>

<hr>


<h2><%= @document.title %></h2><br>



<div class="version-content">
  <%= add_highlight_spans(@current_version, @alchemist) %>
</div>

<hr>



<%= render partial: 'partials/comparison' %>

<br>


<br>

<% @comments.each do |comment| %>
  <p>
    <h2>by <%= comment.user.name %><br></h2>
    <%= comment.body %>
  </p>
  <br>
<% end %>

<div class="hidden">
  <div id="rawkeywords"><%= @keywords %></div>
  <div id="rawconcepts"><%= @concepts %></div>
  <div id="rawsentiment"><%= @sentiment %></div>
</div>
