<h1>Version #<%= @current_version.version_number %></h1>
<br>

<% if current_user == @document.user %>
  <%= render partial: 'shared/new_version' %>
<% end %>

<br><br>

<%= render partial: 'partials/doc_control_bar' %>



<h2><%= @document.title %></h2><br>



<div class="version-content">
  <%= add_highlight_spans(@current_version, @alchemist) %>
</div>

<hr>

<table class="compare-cons">
  <tr>
    <h3><th>You Think You Wrote:</th>
    <th>And</th>
    <th>Alchemy Thinks You're Writing About:</th></h3>
  </tr>
  <tr>
    <td><h3><%= @document.context %></h3></td>
    <td>  </td>
    <td><%= @concepts.first %></td>
  </tr>

</table>


<br>


<%= render partial: 'partials/comparison' %>

<br>

<%= link_to 'Comment On This Document', version_comment_path(@current_version) %>
<h2>Add a comments:</h2>

<br>

<% @comments.each do |comment| %>
  <p>
    <h2>by <%= comment.user.name %><br></h2>
    <%= comment.body %>
  </p>
  <br>
<% end %>

<div class="hidden">
  <div id="rawkeywords"><%= @keywords %></div>
  <div id="rawconcepts"><%= @concepts %></div>
  <div id="rawsentiment"><%= @sentiment %></div>
</div>
