<h1>Version #<%= @current_version.version_number %></h1>
<br>

<% if current_user == @document.user %>
  <%= render partial: 'shared/new_version' %>
<% end %>

<br><br>

<%= render partial: 'partials/doc_control_bar' %>


<br>

<%= @document.title %><br>
<br>


<div class="version-content">
  <%= add_highlight_spans(@current_version, @alchemist) %>
</div>

<hr>

<br>


<%= render partial: 'partials/comparison' %>

<br>

<%= link_to 'Comment On This Document', version_comment_path(@current_version) %>
<h2>Add a comments:</h2>

<br>

<% @comments.each do |comment| %>
  <p>
    <small>by <%= comment.user.name %><br></small>
    <%= comment.body %>
  </p>
  <br>
<% end %>

<div class="hidden">
  <div id="rawkeywords"><%= @keywords %></div>
  <div id="rawconcepts"><%= @concepts %></div>
  <div id="rawsentiment"><%= @sentiment %></div>
</div>
