<h1>Version #<%= @current_version.version_number %></h1>
<br>

<% if current_user == @document.user %>
  <%= render partial: 'shared/new_version' %>
<% end %>

<br><br>
<h2><%= @document.title %></h2><br>
<br>

<p id="content"><%= @current_version.content %></p>
<br>

<hr>
<table class="compare-cons">
  <tr>
    <h3><th>You Think You Wrote:</th>
    <th>And</th>
    <th>Alchemy Thinks You're Writing About:</th></h3>
  </tr>
  <tr>
    <td><h3><%= @document.context %></h3></td>
    <td>  </td>
    <td><%= @concepts.first %></td>
  </tr>

</table>
<br>

<h2>Add a comments:</h2>
<br>

<%= form_for(@comment, url: version_comment_path(@version, @comment), method: :post) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %><br>
<br>

<% @comments.each do |comment| %>
  <p>
    <h2>by <%= comment.user.name %><br></h2>
    <%= comment.body %>
  </p>
  <br>
<% end %>

<div class="hidden">
  <div id="rawkeywords"><%= @keywords %></div>
  <div id="rawconcepts"><%= @concepts %></div>
  <div id="rawsentiment"><%= @sentiment %></div>
</div>
