<h2>New Version</h2>
<hr>
<br>

<h3>
  <%= @document.title %>
  <% if @document.privacy == true %>
    <i class="fa fa-lock"></i>
  <% else %>
    <i class="fa fa-unlock-alt"></i>
  <% end %>
</h3>
<br>
<%= form_for @document do |f| %>
  <%= f.fields_for @version do |v| %>
    (most recent version included for your convenience)<br>
    <%= v.text_area :content, :value => "#{@most_recent_version.content}" %><br>
  <% end %>

  <%= f.label :privacy, 'Private?' %>
  <%= f.check_box :privacy, :checked => false %>

  <br><%= f.submit %>
<% end %>
<br>

<h3>Comments</h3>
(for your reference)<br>
<br>

<%= render partial: 'partials/comments' %>
