<h2>Version #<%= @version.version_number %></h2>
<br>

<br><br>

<%= render partial: 'partials/doc_control_bar' %>

<hr>


<h2><%= @document.title %></h2><br>



<div class="version-content">
  <%= add_highlight_spans(@version, @alchemist) %>
</div>

<hr>



<%= render partial: 'partials/comparison' %>

<br>


<br>

<%= render partial: 'partials/comments' %>


