<h2>Document View</h2>
<h3>version #<%= @version.version_number %></h3>

<br>

<%= render partial: 'partials/doc_control_bar' %>

<hr>


<h2><%= @document.title %></h2><br>



<div class="version-content">
  <%= add_highlight_spans(@version, @alchemist) %>
</div>

<hr>



<%= render partial: 'partials/comparison' %>

<br>


<br>
<h2>Comments</h2>
<br>
<% @comments.each do |comment| %>
  <p>
    <h4>by: <%= comment.user.name %><br></h4>
    <h3><%= comment.body %></h3>
  </p>
  <br>
<% end %>


