<body class="inner">

<h2><%= @document.title %> Version #<%= @version.version_number %></h2>
<hr>
<br>

<button id='version-options'>Versions</button id='version-options'>
<ul class="dropdown">
  <% @versions.each do |version| %>
    <li><%= link_to "Version ##{version.version_number}" , version_path(version) %></li>
  <% end %>
  <% if current_user == @document.user %>
      <li><%= link_to 'Write a New Version', new_document_version_path(@document) %></li>
      <li><%= link_to 'Delete This Version', version_path, :method => :delete %></li>
  <% end %>
</ul>
<hr>

<%= render partial: 'partials/comparison' %>
<br>
<hr>
<br>

<h3>Full Content</h3>
<br>
<div class="version-content">
  <%= add_highlight_spans(@version, @alchemist) %>
</div>
<span class="content-expand">more</span>
<br>
<br>
<hr>
<br>

<h3><%= link_to "Leave a comment?", version_comment_path(@version) %><h3>
<br>
<br>
<h3>Comments</h3>
<br>
<%= render partial: 'partials/comments' %>


</body>
