<body class="inner">

<h2>Document View</h2>
<h3>version #<%= @version.version_number %></h3>

<br>

<h2><%= @document.title %></h2>
<h3>Get Feedback?  <span class='pointer'><%= icon('forward') %></span></h3>
<br>

<%= render partial: 'partials/comparison' %>


<%= render partial: 'partials/doc_control_bar' %>

<hr>


<h3>Version #<%= @version.version_number %></h3>



<div class="version-content">
  <%= add_highlight_spans(@version, @alchemist) %>
</div>

<hr>





<br>


<br>

<%= render partial: 'partials/comments' %>


</body>
