<body class="unique">

<h2>Log in</h2>

<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><h3>Email</h3>
  <%= f.email_field :email, autofocus: true %></div>
  <br />

  <div><h3>Password</h3>
    <%= f.password_field :password, autocomplete: "off" %></div><br />

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
  <div><%= f.submit "Login" %></div>
<% end %>

<a href="/users/password/new">Forgot your password?</a>

</body>
